@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

@font-face {
    font-family: 'LilitaOne';
    src: url('./fonts/LilitaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#h1_home,
#h1_portfolio,
#h1_aboutMe,
#h1_blog_component,
#h1_contact_component {
    font-family: "LilitaOne";
}

#h2_home,
#h3_home,
#h3_home_2,
#item_nav_vertical1,
#item_nav_vertical2,
#item_nav_vertical3,
#item_nav_vertical4,
#item_nav_vertical5

 {
    font-family: "Outfit";
}

#p_home {
    font-family: "Roboto";
}